.main-div {
  background: slategrey;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-div {
  width: 40%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-home-card {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5),
    -1px -1px 30px rgba(0, 0, 0, 0.2);
  background: #001529;
  color: #C8D9EA;
  
  border: none;
  font-size: 1.1rem;
}

.cta-div:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), 15px 15px 20px rgba(0, 0, 0, 0.5),
    -1px -1px 30px rgba(0, 0, 0, 0.2);
}

.cta-text{
    text-align: center;
    color: #C8D9EA;
    font-size: 2rem;
}

.main-heading {
  margin: 0;
  font-size: 3rem;
 
}

.cta-heading {
  color: #77828C;
}

.input-title {
  font-size: 1.3rem;
}

.cta-favteam {
  width: 60%;
  align-self: center;
  border: none;
  background-image: none;
  background-color: whitesmoke;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.5rem;
  color: darkslategrey;
}

.ant-card-meta-title{
  font-size: 1.85rem;
  color: #77828C;
}

.ant-card-meta-description{
  color: #77828C;
  font-size: 1.5rem;
  padding: 20px 40px;
}

.main-image {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5),
    -1px -1px 30px rgba(0, 0, 0, 0.2);
}

.fav-team-options{
  color: black;
}

.fav-team-placeholder{
  color: black;
}

.select-title {
  color: #708090;
}

.mobile-home-card {
  display: none;
}

@media only screen and (max-width: 600px) {
  .welcome-div {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .desktop-home-card {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .main-div {
    justify-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .cta-heading {
    margin: 0;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .input-title {
    margin-top: 0;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .cta-text {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .cta-favteam {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .mobile-home-card {
    display: block;
    background: #001529;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5),
    -1px -1px 30px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 600px) {
  .ant-card-meta-title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .ant-card-meta-description {
    font-size: 1rem;
    padding: 10px 20px;
    
  }
}

.mobile-alert {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-alert {
    display: block;
    
  }
}