.m-nav-layout {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: none;
    border-top: 0.005px solid gray;
}

@media only screen and (max-width: 600px) {
    .m-nav-layout{
        display: block;
    }
  }

 

