.my-team-div{
    color: black;
}

.select-team-form {
    text-align: center;
}

.select-title {
    font-size: 1.5rem;
}

.my-player-submenu{
    width: 300px;
}

@media only screen and (max-width: 600px) {
    .my-player-submenu{
        width: 100px;
    }
  }