.player-div {
}

.player-chart {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .player-div {
    max-width: 100%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .sc-main-div {
    transform: scale(0.40);
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
}

.select-form {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .select-form {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .ant-card-body {
    display: flex;
    max-height: 500px;
    flex-direction: column;
    width: 99%;
    padding: 5px;
    margin: 0;
  }
}

.sc-main-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.shot-title {
  font-size: 2rem;
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}