.player-div {
  
}

.player-chart{
  margin: 0 auto; 
  width: 100%;
   
}



@media only screen and (max-width: 600px) {
    .player-div {
      max-width: 100%;
      flex-direction: column;
      
    }
  }

@media only screen and (max-width: 600px) {
    .player-chart {
      transform: scale(0.4);

    }
  }

.select-form {
  margin-left: 20px;
   
}

@media only screen and (max-width: 600px) {
    .select-form {
      margin: 0 auto; 
    }
  }

  @media only screen and (max-width: 600px) {
    .stylethis {
      display: flex;
      justify-content: center;

    }
  }