

  @media only screen and (max-width: 600px) {
    .standings-layout {
      width: 600px;
    }
  }

  @media only screen and (max-width: 600px) {
    .standings-container {
      width: 600px;
    }
  }

  .eastern-standings {
      margin-bottom: 30px;
  }