
  @media only screen and (max-width: 600px) {
    .team-chart {
      width: 1300px;
    }
  }

  @media only screen and (max-width: 600px) {
    .chart-container {
      width: 1350px;
    }
  }

  @media only screen and (max-width: 600px) {
    .layout-container {
      width: 1350px;
    }
  }
