.team-div{
    background: #357367;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.team-chart{
    background: #f1f1e6;
}

@media only screen and (max-width: 600px) {
    .team-chart {
      transform: scale(0.3);
      position: absolute;
      top: 50;
    }
  }

  @media only screen and (max-width: 600px) {
    .team-div {
      justify-content: flex-end;
    }
  }
